
<!DOCTYPE html>
  <html ng-app="myportfolio">
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="stylesheets/style.css">
        <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style>
       body {
        background-color: #fff3e0;
      }

      </style>
    </head>

    <body class ="body" ng-controller="portfolioCtrl" >
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.js"></script>
      <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
      <!--<script src="/javascripts/test.js"></script>-->
      <script src="/javascripts/myController.js"></script>

      <nav class="navbar navbar-inverse">
        <div class="nav-wrapper">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!--<img class="img-circle" width="304" height="236" src="images/pic.jfif">-->
            <a href="#" class="brand-logo left" style="left: 10%;font-family: 'Ubuntu Light'">Shyam sundar's  Portfolio</a>
            <div class="navbar-collapse collapse" style="font-family: cursive;">
                <ul class="nav navbar-nav navbar-right scroll">
                    <li class="active"><a href="#home" class="link" name="home">Home</a></li>
                    <!--<li ><a href="#aboutme" name="aboutme">About Me</a></li>-->
                    <li ><a href="#portfolio" class="link"  name="portfolio">Portfolio</a></li>
                    <li ><a href="#resume" class="link"  name="resume">Resume</a></li>
                    <li ><a href="#contact" class="link" name="contact">Contact/Links</a></li>
                </ul>
            </div>
        </div>
      </nav>

      <div class="container">

              <div class="section" id="home" style="font-family: cursive; ">

              I am doing my Master's in Computer at University of Colorado Boulder. I am a passionate student and engineer who likes to work in recent technologies. <br><br>
              Before joining my Masters, I worked for 4+ years in Software Engineering. After my Bachelors, I joined IBM India as Associate System Engineer and worked on many projects to develop application for customers like AT&T <br><br>
              Then, I joined Cisco Systems as Automation Engineer where I worked on numerous tasks and learned a lot of things. My tasks were framework development, maintain/develop web scheduler, all kinds of testing (manual, automation, performance, longevity) and a few feature developments.<br><br>

              Please look at resume section for more details!!!<br><br>

              My hobbies are playing badminton, soccer and hiking.
          </div>
          <div class="section"  id="portfolio" style="font-family: cursive;">
              <div style="text-align: justify;">
                  <a href="https://github.com/samr13/Vulnerable-application-detection"><img src="images/img1.png" alt="Machine Learning vulnerable application classificatioin"  /></a>
                  <a href="https://medialistener.apollobit.com"><img src="images/img2.jpg" alt="Apollobit summer intern project"  /></a>
                  <a href="https://github.com/samr13/BigDataMonsters"><img src="images/img3.png" alt="NBA result prediction"  /></a>
                  <br><br>
                  More projects to be added. Design to be changed!!
              </div>
          </div>
          <div class="section" id="contact" style="font-family: cursive; ">
              <div class="chip green lighten-3 z-depth-4">
                    <a href="https://www.github.com/samr13">Github</a>
              </div><br><br>
              <div class="chip green lighten-3 z-depth-4">
                  <a href="https://www.linkedin.com/in/shyamrsundar">Linkedin</a>
              </div><br><br>
              <div class="chip green lighten-3 z-depth-4">
                  Email: shyam.ramamoorthy@colorado.edu
              </div>
          </div>
          <div class="section" id="resume" style="font-family: cursive; ">
              <div class="row">
                  <div class="col s12">
                      <ul class="tabs">
                          <li class="tab col s3"><a href="#educSection">Education</a></li>
                          <li class="tab col s3"><a href="#workSection">Work Experience</a></li>
                          <li class="tab col s3"><a href="#skillSection">Skills</a></li>
                      </ul>
                  </div>
                  <div align="center" id="educSection" class="col s12"><br>
                      <div style="margin-left: 25px; font-family: cursive" ng-repeat="e in education">
                          <h4 align="left">University: {{e.Univ}} </h4>
                          <p align="left">Course: {{e.Course}} </p>
                          <p align="left">GPA: {{e.GPA}} </p>
                          <p align="left">Coursework: {{e.Coursework}} </p>
                          <br>
                      </div>
                  </div>
                  <div align="center" id="workSection" class="col s12" ><br>
                      <div style="margin-left: 25px; font-family: cursive" ng-repeat="w in work">
                          <h4 align="left">Organization: {{w.Company}} </h4>
                          <p align="left" >{{w.Position}} &nbsp;&nbsp; {{w.Period}} </p>
                          <p align="left"> {{w.Description}}</p>
                          </ul>
                          <br>
                      </div>
                  </div>
                  <div align="center" id="skillSection" class="col s12"><br>
                      <ul ng-repeat="s in skills">
                          <font color="#ef5350">{{s.$id}}</font> : <font style="font-family: cursive">{{s.$value}}</font>
                      </ul>
                  </div>
              </div>
          </div>
      </div>

      <script>
          $('.section').hide();
          $("#home").show();
          $(".link").click(function()
          {
              $('.section').fadeOut();
              $('#'+$(this).attr('name')).fadeIn();
          });


      </script>
    </body>
  </html>

